<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
                   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>

<h2>DESAFIO DITO</h2>

<form method="POST" action="/add">
  <br>
  <input type="text" id="inputevent" name="novoevent" placeholder="Event">
  <br>
  <br>
  <input type="text" id="inputtimestamp" name="novotimestamp" placeholder="Timestamp">
  <br><br>
  <input type="submit" value="Submit">
  <br><br><br>
  <input type="text" id="campobusca" name="busca" placeholder="Busca:">
</form> 

</body>
</html>
